<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <servlet>
  	<servlet-name>SubscriptionForm1</servlet-name>
  	<display-name>SubscriptionForm1</display-name>
  	<description></description>
  	<servlet-class>com.library.SubscriptionForm1</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.library.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeUsers</servlet-name>
  	<display-name>WelcomeUsers</display-name>
  	<description></description>
  	<servlet-class>com.lirary.WelcomeUsers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IssueServlet</servlet-name>
  	<display-name>IssueServlet</display-name>
  	<description></description>
  	<servlet-class>com.library.IssueServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBookServlet</servlet-name>
  	<display-name>AddBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.library.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SerachBarServlet</servlet-name>
  	<display-name>SerachBarServlet</display-name>
  	<description></description>
  	<servlet-class>com.library.SerachBarServlet</servlet-class>
  </servlet>


  <servlet-mapping>
  	<servlet-name>SubscriptionForm1</servlet-name>
  	<url-pattern>/SubscriptionForm1</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeUsers</servlet-name>
  	<url-pattern>/WelcomeUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IssueServlet</servlet-name>
  	<url-pattern>/IssueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBookServlet</servlet-name>
  	<url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SerachBarServlet</servlet-name>
  	<url-pattern>/SerachBarServlet</url-pattern>
  </servlet-mapping>
 
</web-app>
